@use 'src/GlobalStyle/_globalStyle.module.scss';

.container {
    @include globalStyle.container;
}

.addPostForm {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    input {
        padding: 1rem;
        display: block;
        outline: none;
        height: 3rem;
        border: 1px solid var(--border-color);
        font-size: 1rem;
        border-radius: 0.5rem;
        
    }

    textarea {
        padding: 1rem;
        border-left: 0px;
        border-right: 0px;
        border: 1px solid var(--border-color);
        height: auto;
        outline: none;
        resize: vertical;
        font-size: 1rem;
        border-radius: 0.5rem;
    }

    select {
        height: 3rem;
        padding-left: 1rem;
        margin-bottom: 0.5 rem;
        border-left: 0;
        border-right: 0;
        border: 1px solid var(--border-color);
        outline: none;
        line-height: 1;
        font-size: 1rem;
        font-size: 1rem;
        border-radius: 0.5rem;
    }
    
    :nth-child(n){
        width: 100%;
    }
}

.postExcerpt{
    margin:1.5rem 0;
    padding: 5px;

    height: auto;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    
    h3{
        margin: 0;
        font-size: 1.5rem;
    }
    .postContent{
        p{
            font-size: 1.1rem;
            height:3rem;
            overflow: hidden;
        }
    }
    .reactionButtons{
        display: inline-block
    }
    .reactionButton{
        @include globalStyle.btnBasic;
        padding:  0.25rem 1rem;
        width: fit-content;
        height: fit-content;
        border-radius: 0.5rem;
        background-color: white;
        span{
            color: rgb(36, 5, 5);
        }
        &:hover{
            background-color: white;
            text-decoration: none;
            border-color: aqua;

        }
    }

    .btnViewPost{
        @include globalStyle.btnBasic;
        margin-top :1rem;
        margin-bottom: 1rem;
        padding:0.5rem;
        width: fit-content;
        height: fit-content;
        border-radius: 0.5rem;
        text-decoration: none;
        font-style: normal;
        &:hover{
            text-decoration: none;
            background-color: rgb(235, 243, 243);
        }
        :nth-child(n){
            text-decoration: none;
            border-color: rgb(229, 235, 235);
            color: red;
            &:hover{
                text-decoration: none;
                font-style: normal;
            }
        }
     
    }
}
h1{
    margin: 0;
    font-size: 2rem;
    opacity: 90%;
}
.my2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.my1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.overflowVisible {
    p {
        font-size: 1.1rem;
        height: auto;
        overflow: visible;
    }
}