@mixin btnBasic{
    width: 8rem;
    height: 2.5rem;
    margin: 2px;
    padding: 1px;
    border:1px solid rgb(216, 203, 203);
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 1rem;
    color: rgb(25, 69, 114);
    font-weight: bold;
    background-color:rgb(231, 231, 238);
    text-decoration: none;
    outline: none;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
        background-color: rgb(185, 231, 142);
    }
    overflow: auto;
}
@mixin container {
    max-width:  800px;
    margin: 0 auto;
    padding: 5px
}
